/* Reset margins and padding for unordered lists and body */
body,
ul {
    margin-left: $margin-common;
    padding: 0;
}

/* Hide horizontal scrollbar for the entire body */
body {
    overflow-x: hidden;
}

/* Style for the main container */
.container {
    @include container;
}

/* Style for the main body */
.mainbody {
    background-color: $main-background-color;
    /* Set the background color for the main body */
}

hr {
   @include hr
}