.overlap2 {
 @include overlap2;
}

.listbottom {
    font-size: $font-size-small;
    font-weight: 10;
}

.listheader {
    font-size: $font-size-medium;
    font-weight: 100;
}

.footerlink {
    text-decoration: none;
    color: $black;
}


/* Style for the list container */
.list-container {
    list-style: $list-style-nond;
    /* Remove default list styling */
    padding: 0;
    /* Remove default padding */
}

/* Style for list items */
.list-item {
@include list-item;
}

/* Style for sub-lists */
.sub-list {
    @include sub-list;
 }

.appsList {
    display: $display-flex;
    list-style: $list-style-nond;
}

.list-container>.list-item>.sub-list>li>ul>li {
    display: $display-inline;
}

.list-container>.list-item>.sub-list>li>img {
    width: 100px;
}



