/* Style for the location section */
.location {
    margin-left: $margin-common; /* Set left margin for the location section */
    margin-right: $margin-common; /* Set right margin for the location section */
    display: $display-flex; /* Use flex display for the location section */
}

/* Style for the "Book Now" button within the location section */
.location > .bookButton {
    margin-left: 1020px; /* Push it to the right side (adjust as needed) */
}

/* Style for iframes */
iframe {
    margin-left: $margin-common; /* Set left margin for iframes */
    margin-right: $margin-common; /* Set right margin for iframes */
    border: $zero-pixel; /* Remove borders from iframes */
    width: calc(100% - #{$margin-common * 2}); /* Set width for iframes */
    height: 450px; /* Set height for iframes */
}