// Define a mixin for removing default link underline
@mixin no-link-underline {
    text-decoration: none;
}

// Define a mixin for menu items
@mixin menu-item {
    display: inline-block;
    margin-right: $menu-item-margin;
    padding: $menu-item-padding;
}

// Define a mixin for menu item links
@mixin menu-link {
    @include no-link-underline;
    border-bottom: 3px solid $menu-item-border-color;
    transition: border-bottom-color 0.4s;
}

// Define a mixin for the logo image
@mixin logo-image {
    max-width: 100%;
    max-height: 4vh;
    height: auto;
}

//Define  a mixin for the container

@mixin container {
    display: $display-flex;
    margin-right: $margin-common;
    margin-left: $margin-common;

}

@mixin navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Make it span the full width of the viewport */
    z-index: 100;
    /* Adjust the z-index to ensure it's above other content */
    background: $white;
}

@mixin text-align-center {
    text-align: center;
}

@mixin text-align-left {
    text-align: left;
}

// Style for the menu bar
@mixin menu-bar {
    background-color: $white;
    display: $display-flex;
    justify-content: space-between;
    align-items: center;
    padding: $menu-padding;
    color: $black;
}

@mixin ul-horizontal-list {
    list-style-type: $list-style-nond;
    margin: $zero-pixel;
    padding: $zero-pixel;
    display: $display-flex;
    /* Use flexbox to create a horizontal layout */
}


@mixin star-rating {
    color: $red-color-light;
    /* Red color with full opacity */
    font-size: 24px;
    /* Set the font size for star ratings */
}

@mixin additional-text {
    font-size: medium;
    /* Change font size to medium */
    margin-left: $margin-common;
    /* Adjust the left margin as needed */
    color: $red-color-light
        /* Red color with full opacity */
}

/* Style for the additional-text2 class */
@mixin additional-text2 {
    font-size: $font-size-xx-large;
    /* Set the font size for additional-text2 */
    margin-left: 450px;
    /* Adjust the left margin as needed */
    color: rgba(224, 90, 90, 1);
    /* Red color with full opacity */
}

/* Style for the rating */
@mixin rating {
    background-color: $white;
    /* Set background color for the rating container */
    border: 1px solid $green;
    /* Add a border with color */
    padding: 15px 15px;
    /* Set padding for the rating container */
    height: fit-content;
    /* Allow the container to adjust its height based on content */
}

@mixin button-section {
    margin-left: $auto;
    /* Move the button section to the right */
    display: $display-flex;
    /* Use flex display for the button section */
    align-items: $text-align-center;
    /* Center align items vertically */
}

/* Style for the "Book Now" button */
@mixin bookButton {
    background-color: $green;
    /* Set background color */
    border: 1px solid $green;
    /* Add a border */
    padding: 20px 30px;
    /* Set padding for the button */
    cursor: pointer;
}


/* Style for the overview section */
@mixin overview {
    margin-right: $margin-common;
    /* Set right margin for the overview section */
    margin-left: $margin-common;
    /* Set left margin for the overview section */
}


@mixin imageGrid {
    padding: $zero-pixel;
    /* Reset padding */
    flex: 1;
    /* Allow flexibility within the container */
    display: $display-grid;
    /* Use grid display */
    grid-template-columns: repeat(2, 1fr);
    /* Define a 2x2 grid layout */
    gap: $zero-pixel;
    /* Remove gap between grid items */
    position: $position-relative;
}

@mixin imagecontainer-image {
    width: $percentage-100;
    /* Set image width to 100% */
    height: $percentage-100;
    /* Set image height to 100% */
    margin: $zero-pixel;
    /* Reset margin */
}


/* Create a 2x2 grid for the other images */
@mixin other-images {
    display: $display-grid;
    /* Use grid display */
    grid-template-columns: 1fr 1fr;
    /* Define a 2x2 grid layout */
    grid-gap: 0;
    /* Remove gap between grid items */
}

/* Style for the counter cards */
@mixin card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Add box shadow for a card effect */
    padding: 12px;
    /* Set padding for the card */
    text-align: $text-align-left;
    /* Set text alignment to left */
    background-color: $green;
    /* Set background color */
    border-radius: $borer-raduis-10px;
    /* Add rounded corners with border-radius */
    width: 70%;
    /* Set the width of the card */
    margin-left: $margin-common;
    /* Set left margin for the card */
}


/* Style for the second type of card (card2) */
@mixin card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Add box shadow for a card effect */
    padding: 10px;
    /* Set padding for the card */
    text-align: $text-align-left;
    /* Set text alignment to left */
    background-color: $white;
    /* Set background color to white */
    border-radius: $borer-raduis-10px;
    /* Add rounded corners with border-radius */
    width: 70%;
    /* Set the width of the card */
    border-style: solid;
    /* Add a solid border */
    border-color: $green;
    /* Set border color */
    border-width: 1px;
    /* Set border width */
    margin-left: $margin-common;
    /* Set left margin for the card */
}


@mixin overlay-button {
    position: $position-absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $green;
    color: $black;
    padding: 10px 20px;
    border: none;
    border-radius: $borer-raduis-5px;
    cursor: pointer;
    z-index: 1;
    margin-left: 550px;
    margin-top: 70px;
    /* margin-bottom: 2440px; */
}


/* Style for the table container */
@mixin table-container {
    display: $display-flex;
    /* Use flex display for the table container */
    flex-direction: $flex-direction-column;
    /* Set the direction to column */
    margin-left: $margin-common;
    /* Set left margin for the table container */
    margin-right: $margin-common;
    /* Set right margin for the table container */
}


/* Style for the table row */
@mixin table-row {
    display: $display-flex;
    /* Use flex display for table rows */
    justify-content: space-between;
    /* Distribute space between elements */
    align-items: $align-items-center;
    /* Align items vertically at the center */
    border-bottom: 1px solid #ccc;
    /* Add a bottom border for rows */
    padding: 10px;
    /* Set padding for rows */
}


/* Style for the button in the last column */
@mixin button-cell {
    display: $display-flex;
    /* Use flex display for button cells */
    align-items: $align-items-center;
    /* Align items vertically at the center */
    justify-content: $justify-content-flex
        /* Align button to the right */
}

/* Style for the 2nd column (Price) */
@mixin table-column2 {
    flex: $flex-1;
    /* Use flex property for table columns */
    padding: 10px;
    /* Set padding for table columns */
    margin-right: -940px;
    /* Push it to the right side (adjust as needed) */
}

// Define a mixin for amenities section
@mixin amenities-section {
    margin-left: $margin-common;
    /* Set left margin for amenities section */
}

// Define a mixin for the column container
@mixin column-container {
    column-count: $column-count;
    /* Set the number of columns */
    column-gap: $column-gap;
    /* Define the gap between columns */
}

// Define a mixin for the amenities container
@mixin amenities-container {
    display: flex;
    align-items: center;
    margin-bottom: $margin-item;
    /* Add space between items */
}

// Define a mixin for red text color
@mixin red-text-color {
    color: $red-color;
}

// Define a mixin for image styles
@mixin image-styles {
    max-width: $image-max-width;
    /* Set the maximum width of the image */
    margin-right: $image-margin-right;
    /* Add space between the image and text */
}

// Define a mixin for common margins
@mixin common-margin {
    margin-left: $margin-common;
    margin-right: $margin-common;
}

// Define a mixin for the "Book Now" button
@mixin book-button($margin-left) {
    margin-left: $margin-left;
}

// Define a mixin for image styles within paragraphs
@mixin image-styles {
    margin-left: 0;
    width: 40px;
    height: 50px;
    margin-top: 40px;
}

// Define a mixin for the "flag" class within paragraphs
@mixin flag-class($margin-left) {
    margin-left: $margin-left;
}


// Define a mixin for mailbox
@mixin mailbox {
    width: $mailbox-width;
    height: $mailbox-height;
    margin-left: $mailbox-margin-left;
    margin-top: $mailbox-margin-top;
    margin-bottom: $mailbox-margin-bottom;
}

// Define a mixin for spans within overlap1 section
@mixin overlap1-span {
    margin-left: 0;
    font-size: $overlap-font-size;
}

// Define a mixin for form
@mixin form {
    margin-left: 10px;

    &>form>input {
        height: $form-input-height;
        width: $form-input-width;
    }

    &>form>.subscribe {
        height: $form-input-height;
        width: $subscribe-button-width;
        background-color: $black;
        color: $white;
    }
}

// Define a mixin for overlap1
@mixin overlap1 {
    z-index: 2;
    left: 80px;
    width: 90%;
    height: 30%;
    position: absolute;
    background-color: $background-color-overlap1;
}

@mixin overlap2 {
    z-index: 1;
    position: relative;
    left: 10px;
}

/* Style for list items */
@mixin list-item {
    margin-top: -130px;
    display: $display-inline;
    /* Display list items horizontally */
    margin-right: 60px;
    /* Add spacing between list items */
    vertical-align: $vertical-align-top;
    /* Align list items to the top */
    margin-left: 30px;
}

/* Style for sub-lists */
@mixin sub-list {
    /* Use a different list marker */
    /* Reset margin to avoid extra spacing */
    padding: 0;
    /* Reset padding */
    display: $display-inline;
    ;
    /* Display sub-list items horizontally */
    vertical-align: $vertical-align-top;
    /* Align sub-list items to the top */
    list-style-type: $list-style-unset;
}


@mixin hr {
    border: 1px solid #ccc;
    margin-left: $margin-common;
    margin-right: $margin-common;
}
