/* Style for the table container */
.table-container {
@include table-container;   
}

/* Style for the table row */
.table-row {
@include table-row;
}

/* Style for table columns */
.table-column {
    flex: $flex-1; /* Use flex property for table columns */
    padding:  calc(#{$margin-common} - 10px); /* Set padding for table columns */
}

/* Style for the 2nd column (Price) */
.table-column2 {
   @include table-column2
}

/* Style for images within table rows */
.table-row > img {
    width:  calc(#{$margin-common} + #{$margin-common}); /* Set width for images */
    height: calc(#{$margin-common} + 15px); /* Set height for images */
}

/* Style for pseudo-elements before paragraphs */
p::before {
    content: attr(data-before); /* Set content before paragraphs */
    font-size: $font-size-large; /* Set font size for the pseudo-element */
}

/* Style for the 2nd column (Price) paragraphs */
.table-column2 > p {
    font-weight: $font-weight-bold; /* Set font weight for the paragraphs */
}