
.navbar {
    @include navbar;
}

// Style for the menu bar
.menu-bar {
    @include menu-bar;
}

// Style for the menu items within the container
.container>.menu>li>a {
    @include menu-link;
    color: $black;
}

// Style for the logo
.logo {
    text-align: $text-align-center;
    flex-grow: 1;
}

// Style for the logo image
.logo img {
    @include logo-image;
}

// Style the header images
.container>ul.menu>li>a>img.headerImg {
    max-width: 28px;
    vertical-align: middle;
    margin-right: 5px;
}

// Add padding to the right menu items
.container>ul.menu>li:last-child {
    @include menu-item;
}

// Add padding to the left menu items
.container>ul.menu>li {
    @include menu-item;
}

// Style for menu item links
.container>ul.menu>li>a {
    @include menu-link;
}

// Style for menu item links on hover
.container>ul.menu>li.pageLink>a:hover {
    border-bottom-color: $green;
}



/* Descendant selector for ul.horizontal-list */
ul.horizontal-list {
    @include ul-horizontal-list;
}

/* Add a "greater than" symbol before each list item except the first one */
ul.horizontal-list li+li:before {
    padding: 8px;
    color: $black;
    content: ">\00a0";
}

/* Child selector to target li elements within ul.horizontal-list */
ul.horizontal-list>li>a {
    margin-right: $margin-common;
    /* Adjust the spacing between list items */
    font-size: $font-size-medium;
    /* Change font size to medium */
    color: $red-color-light ;
    /* Red color with full opacity */
    /* Remove underline from links */
    text-decoration: $text-decoration-none;
}

/* Style for the star rating */
.star-rating {
    @include star-rating;
}

/* Descendant selector for the additional text */
h1 .additional-text {
    @include additional-text;
}

/* Style for the additional-text2 class */
.additional-text2 {
    @include additional-text2;
}

/* Style for the .night class inside .additional-text2 */
.additional-text2>.night {
    font-size: $font-size-small;
    /* Set the font size for .night inside .additional-text2 */
}

/* Style for the rating */
.rating {
    @include rating;
}

/* Style for the content before the reviews section */
.container>.reviews::before {
    content: "Very Good  ";
    /* Set content before the reviews section */
    font-weight: $font-weight-bold;
    /* Set font weight for the content */
    padding: 5px;
    /* Set padding for the content */
}

/* Style for the button section */
.button-section {
    @include button-section;
}

/* Style for buttons within the button section */
.button-section>button {
    margin-right: 10px;
    /* Set right margin for buttons */
}

/* Style for the image rating */
.imageRating {
    width: $fit-content;
    /* Adjust width based on content */
    height: $auto;
    /* Automatically adjust height */
}

/* Style for the "Book Now" button */
.bookButton {
    @include bookButton;
}

/* Remove margin and padding from images within imageGrid */
.imageGrid {
    @include imageGrid;
}

/* Style for image containers within imageGrid */
.image-container>img {
    @include imagecontainer-image;
}

/* Style for the first image within imageGrid */
.imageGrid>.first-image>img {
    height: $percentage-100;
    /* Set height for the first image */
    margin-left: $margin-common;
    /* Set left margin for the first image */
}

/* Create a 2x2 grid for the other images */
.other-images {
    @include other-images;
}

/* Reset margin and padding for all elements within imageGrid, figure, and img */
.imageGrid,
figure,
img {
    margin: 3px;
    /* Reset margin */
    padding: 0;
    /* Reset padding */
}

/* Style for h4 followed by an article element */
h4+article {
    justify-content: left;
    /* Adjust content justification as needed */
}

/* Style for the overview section */
.overview {
    @include overview;
}

/* Remove extra left and right margins, due to padding, for the .row element */
.row {
    margin: 0 0px;
    /* Reset margin to remove extra left and right margins */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    /* Create a pseudo-element to clear floats */
    display: $display-table;
    /* Set display property to table to clear floats */
    clear: both;
    /* Clear both left and right floats */
}

/* Responsive columns for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
    .column {
        width: 20%;
        /* Set width for columns on smaller screens */
        display: $display-flex;
        /* Use flex display for columns */
        margin-bottom: $margin-common;
        /* Adjust bottom margin as needed */
    }
}

/* Style for the counter cards */
.card {
    @include card;
}


/* Style for the second type of card (card2) */
.card2 {
    @include card2;
}

/* Float four columns side by side */
.column {
    float: left;
    /* Float columns to the left */
    width: 12%;
    /* Set width for columns */
    height: 20%;
    /* Set height for columns */
}

/* Style for the content before the card in a row */
.row>.column>.card::before {
    content: "4.2 ";
    /* Set content before the card */
    font-weight: $font-weight-bold;
    /* Set font weight for the content */
    font-size: $font-size-xx-large;
    /* Set font size for the content */
}

/* Style for images within card2 */
.card2>img {
    margin-left: $zero-pixel;
    /* Set left margin for images within card2 */
    width: 30%;
    /* Set width for images within card2 */
}

.overlay-button {
    @include overlay-button;
}
