// Define variables
$white: white;
$black: rgba(0, 0, 0, 1);
$green: rgba(155, 211, 187, 1);
$red-color-light: rgba(224, 90, 90,1);
$main-background-color:rgba(250, 251, 252, 255);

$zero-pixel: 0px;
$percentage-100: 100%;

$menu-padding: 10px 20px;
$menu-item-padding: 5px;

$menu-item-margin: 20px;
$margin-common: 20px;

$menu-item-border-color: transparent;

$display-flex: flex;
$display-grid: grid;
$display-table: table;

$position-absolute:absolute;
$position-relative:relative;

$list-style-nond:none;


$font-size-medium : medium;
$font-size-small: small;
$font-size-xx-large: xx-large; 
$font-weight-bold: bold;

$text-decoration-none: none ;

$auto : auto;
$fit-content :  fit-content;

$align-items-center: center;
$text-align-center: center;
$text-align-left: left;


$borer-raduis-10px: 10px;
$borer-raduis-5px: 5px;