// Define variables
$white: white;
$black: rgba(0, 0, 0, 1);
$green: rgba(155, 211, 187, 1);
$red-color-light: rgba(224, 90, 90,1);
$red-color: red;
$main-background-color:rgba(250, 251, 252, 255);
$background-color-overlap1:rgba(209, 235, 226, 255);

$zero-pixel: 0px;
$percentage-100: 100%;

$menu-padding: 10px 20px;
$menu-item-padding: 5px;

$menu-item-margin: 20px;
$margin-common: 20px;


$menu-item-border-color: transparent;

$display-flex: flex;
$flex-direction-column: column;
$flex-1:1;
$flex-direction-row: row;
$display-grid: grid;
$display-table: table;
$display-inline: inline-block;
$vertical-align-top: top;

$position-absolute:absolute;
$position-relative:relative;

$list-style-nond:none;
$list-style-unset: unset;


$font-size-medium : medium;
$font-size-small: small;
$font-size-xx-large: xx-large; 
$font-size-large: large;
$font-weight-bold: bold;
$font-size-review: 44px;

$text-decoration-none: none ;

$auto : auto;
$fit-content :  fit-content;

$align-items-center: center;
$text-align-center: center;
$text-align-left: left;
$justify-content-flex: flex-end;

$borer-raduis-10px: 10px;
$borer-raduis-5px: 5px;

$container-margin: 20px;
$column-padding: 10px;
$image-dimensions: (
  width: 40px,
  height: 35px
);
$button-cell-alignment: flex-end;



$column-count: 2;
$column-gap: 20px;
$margin-item: 10px;
$image-max-width: 20px;
$image-margin-right: 10px;


// Define variables for mail
$mailbox-width: 25%;
$mailbox-height: 250%;
$mailbox-margin-left: 890px;
$mailbox-margin-top: -164px;
$mailbox-margin-bottom: 80px;
$overlap-font-size: x-large;
$form-input-width: 400px;
$form-input-height: 25px;
$subscribe-button-width: 100px;


// Define variables for footer
$overlap2-z-index: 1;
$overlap2-left: 10px;
$list-item-margin-top: -130px;
$list-item-margin-right: 60px;
$list-item-margin-left: 30px;

$sub-list-padding: 0;
